.mini_text {
  @apply mt-4;
  @apply text-black;
  font-size: clamp(8px, 0.83328vw, 32px);
  font-weight: 500;

  .orange_text {
    @apply text-primary;
    font-size: clamp(8px, 0.83328vw, 32px);
    font-weight: 500;
    transition: 0.3s ease-in-out;
    &:hover {
      @apply text-primary-dark;
    }
  }
}
