.menu {
  top: 0;
  position: sticky;
  width: clamp(150px, 15.624vw, 600px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    width: clamp(45px, 4.6872vw, 180px);
    height: clamp(45px, 4.6872vw, 180px);
    cursor: pointer;
    @apply mt-8;
    @apply mb-8;
  }

  &__nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
