@import "breakpoint-slicer";
@import "../../../styles/mixins";
@import "../../../styles/variables";

%button-common {
  width: clamp(175px, 18.228vw, 700px);
  border-radius: clamp(3px, 0.31248vw, 12px);
  color: #fff3ef;
  padding: clamp(6px, 0.62496vw, 24px);
  font-size: clamp(7px, 0.72912vw, 28px);
  transition: 0.3s ease-in-out;
  text-align: center;
  @apply bg-primary;
  @apply p-3;

  @include respond-to("md") {
    width: clamp(175px, 35.282vw, 700px);
    padding: clamp(6px, 1.21vw, 24px);
  }
}

.button {
  @extend %button-common;
}

.button--regular {
  @extend %button-common;
  background-color: #ff5722;
  color: #fff3ef;

  @include respond-to("md") {
    width: auto;
    @apply pl-11 pr-11;
    @apply pt-2 pb-2;
  }

  &:hover {
    background-color: darken(#ff5722, 10%);
  }
}

.button--transparent {
  @extend %button-common;
  background-color: transparent;
  border: 2px solid #ff5722;
  color: #ff5722;
  &:hover {
    color: #fff3ef;
    background-color: #ff5722;
  }
}

.button--transparent--small {
  @extend .button--transparent;
  width: auto !important;
  height: auto !important;
  padding-top: clamp(3px, 5 / 1520 * 100vw, 12px);
  padding-bottom: clamp(3px, 5 / 1520 * 100vw, 12px);
  @apply pl-8;
  @apply pr-8;
}

.button--regular--small {
  @extend .button--regular;
  width: auto !important;
  @apply pl-8;
  @apply pr-8;
}

.button--regular--xs {
  @extend .button--regular;
  width: 100%;
  font-size: clamp(8px, 0.83328vw, 32px);
  @apply pt-2;
  @apply pb-2;
}

.button--regular--text {
  width: auto !important;
  font-size: clamp(8px, 0.83328vw, 32px);
  background: transparent !important;
  transition: 0.3s all;
  @apply text-primary;
  @apply font-bold;

  &:hover {
    @apply underline;
    background-color: darken(#ff5722, 10%);
  }
}

.button--card-button {
  min-width: clamp(60px, 6.2496vw, 240px);
  border: 2px solid;
  transition: 0.3s all;
  @apply border-primary;
  @apply rounded-full;
  @apply pl-4 pr-4;
  @apply pt-2 pb-2;

  @include respond-to("md") {
    min-width: clamp(45px, 9.073vw, 180px);
    @apply pt-2 pb-2;
  }

  &:hover {
    @apply bg-primary-dark;
  }
}
