@import "breakpoint-slicer";
@import "../../../styles/mixins";
@import "../../../styles/variables";

%button-common {
  width: clamp(175px, 18.228vw, 700px);
  border-radius: clamp(3px, 0.31248vw, 12px);
  color: #fff3ef;
  padding: clamp(6px, 0.62496vw, 24px);
  font-size: clamp(7px, 0.72912vw, 28px);
  transition: 0.3s ease-in-out;
  text-align: center;
  @apply bg-primary;
  @apply p-3;

  @include respond-to("md") {
    width: clamp(175px, 35.282vw, 700px);
    padding: clamp(6px, 1.21vw, 24px);
  }
}

.button {
  @extend %button-common;
}

.button--regular {
  @extend %button-common;
  background-color: #ff5722;
  color: #fff3ef;

  @include respond-to("md") {
    width: auto;
    @apply pl-11 pr-11;
    @apply pt-2 pb-2;
  }

  &:hover {
    background-color: darken(#ff5722, 10%);
  }
}

.button--regular--bigger {
  @extend .button--regular;
  height: auto !important;
  @apply pl-14;
  @apply pr-14;
  @apply pt-3;
  @apply pb-3;
}

.button--transparent {
  @extend %button-common;
  background-color: transparent;
  border: 2px solid #ff5722;
  color: #ff5722;
  &:hover {
    color: #fff3ef;
    background-color: #ff5722;
  }
}

.button--transparent--small {
  @extend .button--transparent;
  width: auto !important;
  height: auto !important;
  padding-top: clamp(3px, 5 / 1520 * 100vw, 12px);
  padding-bottom: clamp(3px, 5 / 1520 * 100vw, 12px);
  @apply pl-8;
  @apply pr-8;
}

.button--regular--small {
  @extend .button--regular;
  width: auto !important;
  @apply pl-8;
  @apply pr-8;
}

.button--regular--xs {
  @extend .button--regular;
  width: 100%;
  font-size: clamp(8px, 0.83328vw, 32px);
  @apply pt-2;
  @apply pb-2;
}

.button--regular--xxs {
  @extend .button--regular;
  width: clamp(40px, 80 / 1200 * 100vw, 160px);
  height: clamp(22.5px, 45 / 1200 * 100vw, 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  @apply text-sm;

  @include respond-to("xl") {
    width: clamp(40px, 80 / 1360 * 100vw, 160px);
    height: clamp(22.5px, 45 / 1360 * 100vw, 90px);
  }

  @include respond-to("2xl") {
    width: clamp(40px, 80 / 1520 * 100vw, 160px);
    height: clamp(22.5px, 45 / 1520 * 100vw, 90px);
  }

  @include respond-to("3xl") {
    width: clamp(40px, 80 / 1680 * 100vw, 160px);
    height: clamp(22.5px, 45 / 1680 * 100vw, 90px);
  }

  @include respond-to("4xl") {
    width: clamp(40px, 80 / 1920 * 100vw, 160px);
    height: clamp(22.5px, 45 / 1920 * 100vw, 90px);
  }

  @include respond-to("5xl") {
    width: clamp(40px, 80 / 2560 * 100vw, 160px);
    height: clamp(22.5px, 45 / 2560 * 100vw, 90px);
  }

  @include respond-to("6xl") {
    width: clamp(40px, 80 / 3840 * 100vw, 160px);
    height: clamp(22.5px, 45 / 3840 * 100vw, 90px);
  }
}

.button--regular--xxs--cancel {
  @extend .button--regular;
  width: clamp(40px, 80 / 1200 * 100vw, 160px);
  height: clamp(22.5px, 45 / 1200 * 100vw, 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  @apply bg-primary-TRANSPARENT;
  @apply text-sm;

  @include respond-to("xl") {
    width: clamp(40px, 80 / 1360 * 100vw, 160px);
    height: clamp(22.5px, 45 / 1360 * 100vw, 90px);
  }

  @include respond-to("2xl") {
    width: clamp(40px, 80 / 1520 * 100vw, 160px);
    height: clamp(22.5px, 45 / 1520 * 100vw, 90px);
  }

  @include respond-to("3xl") {
    width: clamp(40px, 80 / 1680 * 100vw, 160px);
    height: clamp(22.5px, 45 / 1680 * 100vw, 90px);
  }

  @include respond-to("4xl") {
    width: clamp(40px, 80 / 1920 * 100vw, 160px);
    height: clamp(22.5px, 45 / 1920 * 100vw, 90px);
  }

  @include respond-to("5xl") {
    width: clamp(40px, 80 / 2560 * 100vw, 160px);
    height: clamp(22.5px, 45 / 2560 * 100vw, 90px);
  }

  @include respond-to("6xl") {
    width: clamp(40px, 80 / 3840 * 100vw, 160px);
    height: clamp(22.5px, 45 / 3840 * 100vw, 90px);
  }
}

.button--regular--text {
  width: auto !important;
  font-size: clamp(8px, 0.83328vw, 32px);
  background: transparent !important;
  transition: 0.3s all;
  @apply text-primary;
  @apply font-bold;

  &:hover {
    @apply underline;
    background-color: darken(#ff5722, 10%);
  }
}

.button--regular--text--xs {
  width: 0px !important;
  height: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent !important;
  transition: 0.3s all;
  @apply text-sm;
  @apply text-primary;

  &:hover {
    @apply underline;
    background-color: darken(#ff5722, 10%);
  }
}

.button--card-button {
  min-width: clamp(60px, 6.2496vw, 240px);
  border: 2px solid;
  transition: 0.3s all;
  @apply border-primary;
  @apply rounded-full;
  @apply pl-4 pr-4;
  @apply pt-2 pb-2;

  @include respond-to("md") {
    min-width: clamp(45px, 9.073vw, 180px);
    @apply pt-2 pb-2;
  }

  &:hover {
    @apply bg-primary-dark;
  }
}
