.popup {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__items {
    background-color: #ffffff;
    @apply rounded-lg;
    height: clamp(225px, 23.436vw, 900px);
    width: clamp(300px, 31.248vw, 1200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    &__text {
      @apply text-primary w-52 text-center;
      font-size: clamp(9px, 0.93744vw, 36px);
    }

    &__logo {
      width: clamp(45px, 4.6872vw, 180px);
      height: clamp(45px, 4.6872vw, 180px);
    }

    &__container {
      position: relative;
      display: flex;
      align-items: center;
    }
  }
}

.show {
  display: flex;
}
