.regular {
  width: clamp(175px, 18.228vw, 700px);
  border-radius: clamp(4px, 0.41664vw, 16px);
  @apply bg-primary;
  color: #fff3ef;
  @apply p-3;
  font-size: clamp(10px, 1.0416vw, 40px);
  transition: 0.3s ease-in-out;
  &:hover {
    @apply bg-primary-dark;
  }
}

.transparent {
  position: relative;
  width: clamp(175px, 18.228vw, 700px);
  border-radius: clamp(4px, 0.41664vw, 16px);
  border: 2px #ff5722 solid;
  @apply text-secondary;
  @apply p-3;
  @apply text-base;
  transition: 0.3s ease-in-out;
  &:hover {
    color: #fff3ef;
    @apply bg-primary;
  }
  // .text {
  //   margin-left: clamp(13px, 1.35408vw, 52px);
  // }
}
