%button-common {
  width: clamp(175px, 18.228vw, 700px);
  border-radius: clamp(4px, 0.41664vw, 16px);
  @apply bg-primary;
  color: #fff3ef;
  @apply p-3;
  padding: clamp(6px, 0.62496vw, 24px);
  font-size: clamp(10px, 1.0416vw, 40px);
  transition: 0.3s ease-in-out;
  text-align: center;
}

.button {
  @extend %button-common;
}

.button--regular {
  @extend %button-common;
  background-color: #ff5722;
  color: #fff3ef;
  &:hover {
    background-color: darken(#ff5722, 10%);
  }
}

.button--transparent {
  @extend %button-common;
  background-color: transparent;
  border: 2px solid #ff5722;
  color: #ff5722;
  &:hover {
    color: #fff3ef;
    background-color: #ff5722;
  }
}

.button--regular--small {
  @extend .button--regular;
  width: auto !important;
  @apply pl-8;
  @apply pr-8;
}

.button--regular--xs {
  @extend .button--regular;
  width: 100%;
  @apply text-sm;
}
