.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    @apply mb-5;
    text-align: center;

    &__image {
        width: auto;
        max-width: clamp(160px,16.6656vw,640px);
    }

    &__title {
        @apply mt-2;
        font-weight: bold;
    }

    &__description {
        @apply text-gray-400;
    }
}
