@import "breakpoint-slicer";
@import "../../../shared/styles/mixins";
@import "../../../shared/styles/variables";

.sites_section {
  width: 40%;
  margin-right: auto;
  border-radius: 6px;
  transition: 0.3s all;
  @apply p-8;
  @apply mt-8;
  @apply ml-20;
  @apply bg-gray-100;

  &:hover {
    @apply bg-primary-BG_LIGHT;
    cursor: pointer;
  }

  &__name {
    font-size: clamp(20px, 2.0832vw, 80px);
    font-weight: 500;

    @include respond-to("md") {
      font-size: clamp(12px, 24 / 992 * 100vw, 48px);
    }

    @include respond-to("lg") {
      font-size: clamp(12px, 24 / 1200 * 100vw, 48px);
    }

    @include respond-to("xl") {
      font-size: clamp(12px, 24 / 1360 * 100vw, 48px);
    }

    @include respond-to("2xl") {
      font-size: clamp(12px, 24 / 1520 * 100vw, 48px);
    }

    @include respond-to("3xl") {
      font-size: clamp(12px, 24 / 1680 * 100vw, 48px);
    }

    @include respond-to("4xl") {
      font-size: clamp(12px, 24 / 1920 * 100vw, 48px);
    }

    @include respond-to("5xl") {
      font-size: clamp(12px, 24 / 2560 * 100vw, 48px);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    @apply gap-4;
    @apply mt-12;

    &__item {
      @apply mr-1.5;
      align-items: center;

      @include respond-to("md") {
        font-size: clamp(8px, 16 / 992 * 100vw, 32px);
      }

      @include respond-to("lg") {
        font-size: clamp(8px, 16 / 1200 * 100vw, 32px);
      }

      @include respond-to("xl") {
        font-size: clamp(8px, 16 / 1360 * 100vw, 32px);
      }

      @include respond-to("2xl") {
        font-size: clamp(8px, 16 / 1520 * 100vw, 32px);
      }

      @include respond-to("3xl") {
        font-size: clamp(8px, 16 / 1680 * 100vw, 32px);
      }

      @include respond-to("4xl") {
        font-size: clamp(8px, 16 / 1920 * 100vw, 32px);
      }

      @include respond-to("5xl") {
        font-size: clamp(8px, 16 / 2560 * 100vw, 32px);
      }
    }

    &__hover {
      width: 100%;
      font-size: clamp(10px, 1.0416vw, 40px);
      transition: 0.3s all;

      @include respond-to("md") {
        font-size: clamp(8px, 16 / 992 * 100vw, 32px);
      }

      @include respond-to("lg") {
        font-size: clamp(8px, 16 / 1200 * 100vw, 32px);
      }

      @include respond-to("xl") {
        font-size: clamp(8px, 16 / 1360 * 100vw, 32px);
      }

      @include respond-to("2xl") {
        font-size: clamp(8px, 16 / 1520 * 100vw, 32px);
      }

      @include respond-to("3xl") {
        font-size: clamp(8px, 16 / 1680 * 100vw, 32px);
      }

      @include respond-to("4xl") {
        font-size: clamp(8px, 16 / 1920 * 100vw, 32px);
      }

      @include respond-to("5xl") {
        font-size: clamp(8px, 16 / 2560 * 100vw, 32px);
      }

      &:hover {
        @apply text-primary;
      }
    }

    &__click {
      width: 100%;
      font-size: clamp(10px, 1.0416vw, 40px);
      transition: 0.3s all;

      @include respond-to("md") {
        font-size: clamp(8px, 16 / 992 * 100vw, 32px);
      }

      @include respond-to("lg") {
        font-size: clamp(8px, 16 / 1200 * 100vw, 32px);
      }

      @include respond-to("xl") {
        font-size: clamp(8px, 16 / 1360 * 100vw, 32px);
      }

      @include respond-to("2xl") {
        font-size: clamp(8px, 16 / 1520 * 100vw, 32px);
      }

      @include respond-to("3xl") {
        font-size: clamp(8px, 16 / 1680 * 100vw, 32px);
      }

      @include respond-to("4xl") {
        font-size: clamp(8px, 16 / 1920 * 100vw, 32px);
      }

      @include respond-to("5xl") {
        font-size: clamp(8px, 16 / 2560 * 100vw, 32px);
      }

      &:hover {
        @apply text-primary;
        cursor: pointer;
      }
    }
  }
}
