.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  @apply p-2;
  @apply rounded-full;

  &:hover {
    @apply bg-gray-100 dark:bg-gray-800;
  }



  &__icon {
    cursor: pointer;
    @apply text-primary;
  }
  
}
