@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";
@import "breakpoint-slicer";

.text_menu {
  position: absolute;
  width: clamp(150px, 300 / 1200 * 100vw, 600px);
  min-height: clamp(100px, 200 / 1200 * 100vw, 400px);
  @apply bg-white;
  @apply shadow-xl;
  @apply rounded-lg;
  @apply p-4;

  @include respond-to("xl") {
    width: clamp(150px, 300 / 1360 * 100vw, 600px);
    min-height: clamp(100px, 200 / 1360 * 100vw, 400px);
  }

  @include respond-to("2xl") {
    width: clamp(150px, 300 / 1520 * 100vw, 600px);
    min-height: clamp(100px, 200 / 1520 * 100vw, 400px);
  }

  @include respond-to("3xl") {
    width: clamp(150px, 300 / 1680 * 100vw, 600px);
    min-height: clamp(100px, 200 / 1680 * 100vw, 400px);
  }

  @include respond-to("4xl") {
    width: clamp(150px, 300 / 1920 * 100vw, 600px);
    min-height: clamp(100px, 200 / 1920 * 100vw, 400px);
  }

  @include respond-to("5xl") {
    width: clamp(150px, 300 / 2560 * 100vw, 600px);
    min-height: clamp(100px, 200 / 2560 * 100vw, 400px);
  }

  @include respond-to("6xl") {
    width: clamp(150px, 300 / 3840 * 100vw, 600px);
    min-height: clamp(100px, 200 / 3840 * 100vw, 400px);
  }

  &__border {
    @apply mt-2;
    @apply border-dark-lighter;
  }

  &__container {
    display: flex;
    align-items: center;
    cursor: move;
    justify-content: space-between;

    &__text {
      @apply text-primary;
    }

    &__icon {
      cursor: pointer;
      transition: 0.3s all;
      @apply p-2;
      @apply text-primary;

      &:hover {
        @apply bg-dark-lighter;
        @apply rounded-full;
      }
    }
  }

  &__text {
    @apply text-primary;
    @apply text-xs;
  }

  &__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @apply mt-4;

    &__bold,
    &__italic,
    &__underline,
    &__color,
    &__link,
    &__alignment {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s all;
      @apply text-2xl;
      @apply p-2;
      @apply text-primary;
      @apply rounded-md;
      &:hover {
        @apply bg-dark-upper;
      }
    }

    &__chevron {
      @apply text-sm;
    }
  }
}
