.text_menu {
  width: 300px;
  min-height: 200px;
  @apply bg-white;
  @apply shadow-xl;
  @apply rounded-lg;
  @apply p-4;

  &__border {
    @apply mt-2;
    @apply border-dark-lighter;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
      @apply text-primary;
    }

    &__icon {
      transition: 0.3s all;
      @apply p-2;
      @apply text-primary;

      &:hover {
        @apply bg-dark-lighter;
        @apply rounded-full;
      }
    }
  }

  &__text {
    @apply text-primary;
    @apply text-xs;
  }

  &__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @apply mt-4;

    &__bold,
    &__italic,
    &__underline,
    &__color,
    &__link,
    &__alignment {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s all;
      @apply text-2xl;
      @apply p-2;
      @apply text-primary;
      @apply rounded-md;
      &:hover {
        @apply bg-dark-upper;
      }
    }

    &__chevron {
      @apply text-sm;
    }
  }
}
