.header {
  width: 100%;
  height: auto;
  margin: auto;
  border-bottom: 1px solid;
  @apply border-gray-200;
  @apply pt-4;
  @apply pb-4;

  &__text {
    font-size: clamp(8px, 16 / 1520 * 100vw, 32px);
    @apply text-primary;
  }

  &__container {
    width: 86.6%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }
}
