@import "../../../shared/styles/_mixins.scss";
@import "../../../shared/styles/_variables.scss";

.about {
  width: 100%;
  cursor: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply mt-32;

  &__heading {
    font-size: clamp(24px, 48 / 992 * 100vw, 96px);
    font-weight: bold;
    @apply text-primary;
  }

  &__under_heading {
    @apply text-lg;
    @apply mt-2;
  }
}
