.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: none;
  background-position: center;
  opacity: 0;
  animation: fadeInBackground 1.5s ease-out forwards;

  &__mini_text {
    font-size: clamp(7px, 14 / 1520 * 100vw, 28px);
    font-family: "Mulish";
    @apply text-gray-800;
  }

  &__paragraph {
    width: 60%;
    font-size: clamp(7.5px, 15 / 1520 * 100vw, 30px);
    text-align: center;
    font-family: "Mulish";
    @apply text-gray-800;
    @apply mt-12;
  }
}
@keyframes fadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
