.users {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__main {
    @apply font-bold;
    font-size: clamp(17px, 1.77072vw, 68px);
  }
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
      &__already{
          @apply mt-12; 
          font-size: clamp(9px, 18 / 1360 * 100vw, 36px);;
      }
  }
  