.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  width: clamp(250px, 26.04vw, 1000px);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @apply p-8;
  @apply rounded-md;
  @apply bg-white;
}
