.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  &__already {
    @apply mt-12;
    font-size: clamp(9px, 18 / 1360 * 100vw, 36px);
  }
}
