@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";
@import "breakpoint-slicer";

.color_picker {
  width: clamp(125px, 250 / 1200 * 100vw, 500px);
  padding: clamp(8px, 16 / 1200 * 100vw, 32px);
  border-radius: 8px;
  @apply bg-white;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    span {
      font-size: 16px;
      font-weight: bold;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
    }
  }

  &__tab {
    width: clamp(75px, 150 / 1200 * 100vw, 300px);
    height: clamp(7.5px, 15 / 1200 * 100vw, 30px);
    margin: auto;
    @apply mt-4;
    @apply rounded-full;

    @include respond-to("xl") {
      width: clamp(75px, 150 / 1360 * 100vw, 300px);
      height: clamp(7.5px, 15 / 1360 * 100vw, 30px);
    }

    @include respond-to("2xl") {
      width: clamp(75px, 150 / 1520 * 100vw, 300px);
      height: clamp(7.5px, 15 / 1520 * 100vw, 30px);
    }

    @include respond-to("3xl") {
      width: clamp(75px, 150 / 1680 * 100vw, 300px);
      height: clamp(7.5px, 15 / 1680 * 100vw, 30px);
    }

    @include respond-to("4xl") {
      width: clamp(75px, 150 / 1920 * 100vw, 300px);
      height: clamp(7.5px, 15 / 1920 * 100vw, 30px);
    }

    @include respond-to("5xl") {
      width: clamp(75px, 150 / 2560 * 100vw, 300px);
      height: clamp(7.5px, 15 / 2560 * 100vw, 30px);
    }

    @include respond-to("6xl") {
      width: clamp(75px, 150 / 3840 * 100vw, 300px);
      height: clamp(7.5px, 15 / 3840 * 100vw, 30px);
    }
  }

  &__tabs {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    @apply mt-4;
    @apply mb-4;

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 8px;
      font-size: clamp(7px, 14 / 1200 * 100vw, 28px);

      @include respond-to("xl") {
        font-size: clamp(7px, 14 / 1360 * 100vw, 28px);
      }

      @include respond-to("2xl") {
        font-size: clamp(7px, 14 / 1520 * 100vw, 28px);
      }

      @include respond-to("3xl") {
        font-size: clamp(7px, 14 / 1680 * 100vw, 28px);
      }

      @include respond-to("4xl") {
        font-size: clamp(7px, 14 / 1920 * 100vw, 28px);
      }

      @include respond-to("5xl") {
        font-size: clamp(7px, 14 / 2560 * 100vw, 28px);
      }

      @include respond-to("6xl") {
        font-size: clamp(7px, 14 / 3840 * 100vw, 28px);
      }

      &.active {
        border-bottom: 2px solid;
        @apply border-primary;
      }
    }
  }

  &__input {
    @apply mt-4;
    @apply mb-4;

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid;
      border-radius: 4px;
      @apply border-primary;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__scheme {
    width: 100% !important;
  }

  @include respond-to("xl") {
    width: clamp(125px, 250 / 1360 * 100vw, 500px);
    padding: clamp(8px, 16 / 1360 * 100vw, 32px);
  }

  @include respond-to("2xl") {
    width: clamp(125px, 250 / 1520 * 100vw, 500px);
    padding: clamp(8px, 16 / 1520 * 100vw, 32px);
  }

  @include respond-to("3xl") {
    width: clamp(125px, 250 / 1680 * 100vw, 500px);
    padding: clamp(8px, 16 / 1680 * 100vw, 32px);
  }

  @include respond-to("4xl") {
    width: clamp(125px, 250 / 1920 * 100vw, 500px);
    padding: clamp(8px, 16 / 1920 * 100vw, 32px);
  }

  @include respond-to("5xl") {
    width: clamp(125px, 250 / 2560 * 100vw, 500px);
    padding: clamp(8px, 16 / 2560 * 100vw, 32px);
  }

  @include respond-to("6xl") {
    width: clamp(125px, 250 / 3840 * 100vw, 500px);
    padding: clamp(8px, 16 / 3840 * 100vw, 32px);
  }
}
