.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gridItem {
  cursor: pointer;
  border: 2px solid;
  padding: 20px;
  border-radius: 10px;
  @apply border-primary;
  // background-color: #fff;
  transition: 0.3s all;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:hover {
    @apply shadow-orange-glow;
  }
}
