@import "breakpoint-slicer";
@import "../styles/mixins";
@import "../styles/variables";

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: clamp(8px, 0.83328vw, 32px);
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff5722;
  border-radius: clamp(9px, 0.93744vw, 36px);
  border: clamp(9px, 0.93744vw, 36px) solid #ff5722;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ff5722 transparent;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden !important;
  min-height: 100vh;
}

.main {
  min-height: 100vh;
}

@mixin text-orange(
  $margin: 0,
  $text-size: 1rem,
  $orange-text-size: 1rem,
  $font-weight: 500
) {
  .text_with_detail {
    margin-top: $margin;
    font-size: $text-size;
    font-weight: $font-weight;
    font-weight: 500;
  }
  .text_orange {
    @apply text-primary;
    font-size: $text-size;
    font-weight: $font-weight;
    transition: 0.3s ease-in-out;
    &:hover {
      @apply text-primary-dark;
    }
  }
}
