//text

@mixin text-orange(
  $margin: 0,
  $text-size: 1rem,
  $orange-text-size: 1rem,
  $font-weight: 500
) {
  .text_with_detail {
    margin-top: $margin;
    font-size: $text-size;
    font-weight: $font-weight;
    font-weight: 500;
  }
  .text_orange {
    @apply text-primary;
    font-size: $text-size;
    font-weight: $font-weight;
    transition: 0.3s ease-in-out;
    &:hover {
      @apply text-primary-dark;
    }
  }
}
