@import "../../src/shared/styles/variables.scss";

.registration {
  flex-direction: column;
  align-items: center;

  &__content {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    font-size: clamp(16px, 1.66656vw, 64px);
    font-weight: 700;
    font-family: $primary-font;
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: clamp(9px, 0.93744vw, 36px);
    font-family: $primary-font;
  }
  &__input {
    width: clamp(175px, 18.228vw, 700px);
    text-align: left;
    padding: clamp(6px, 0.62496vw, 24px);
    color: rgba(26, 26, 26, 0.5);
    border-radius: clamp(4px, 0.41664vw, 16px);
    border: 1px rgba(255, 147, 114, 0.5) solid;
    transition: 0.3s ease;
    outline: none;
    &:focus {
      color: $primary-color;
      border-color: $primary-color;
      outline: 0;
      outline-offset: 0;
    }
  }
  &__sign-up {
    width: clamp(175px, 18.228vw, 700px);
    border-radius: clamp(4px, 0.41664vw, 16px);
    text-align: center;
    background-color: $primary-color;
    color: #fff;
    padding: clamp(6px, 0.62496vw, 24px);
    font-size: clamp(10px, 1.0416vw, 40px);
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: #f93a00;
    }
  }
  &__mini-text {
    color: #1a1a1a;
    font-size: clamp(8px, 0.83328vw, 32px);
    font-weight: 500;
    font-family: $primary-font;

    .login-orange {
      color: $primary-color;
      font-size: clamp(8px, 0.83328vw, 32px);
      font-weight: 500;
    }
  }
  &__google {
    display: flex;
    align-items: center;
    text-align: center;
  }
  &__separator {
    width: 156px;
    height: 1px;
    background: rgba(26, 26, 26, 0.4);
  }
  &__separator-or {
    font-size: clamp(8px, 0.83328vw, 32px);
    font-weight: 500;
    padding: 0 10px;
  }
  &__google-button {
    width: clamp(175px, 18.228vw, 700px);
    border-radius: clamp(4px, 0.41664vw, 16px);
    border: 1px $primary-color solid;
    text-align: center;
    color: #1a1a1a;
    padding: clamp(6px, 0.62496vw, 24px);
    font-size: clamp(8px, 0.83328vw, 32px);
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}
