.registration {
  @apply flex;
  @apply justify-center;
  @apply items-center;
  flex-direction: column;

  &__content {
    width: 90%;
    @apply flex;
    @apply justify-center;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    margin-top: clamp(46px, 4.79136vw, 184px);
    width: clamp(68px, 7.08288vw, 272px);
    height: clamp(68px, 7.08288vw, 272px);
  }
  &__heading {
    @apply mt-8;
    font-size: clamp(16px, 1.66656vw, 64px);
    font-weight: 700;
  }
  &__form {
    @apply mt-6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: clamp(9px, 0.93744vw, 36px);
  }

  .show_password {
    position: absolute;
    @apply ml-72;
    @apply mb-2;
    @apply text-primary;
    font-size: clamp(9px, 0.93744vw, 36px);
    cursor: pointer;
    &:hover {
      @apply text-primary-dark;
    }
  }

  .show_password_confirm {
    position: absolute;
    @apply ml-72;
    margin-top: clamp(59.5px, 6.19752vw, 238px);
    @apply text-primary;
    font-size: clamp(9px, 0.93744vw, 36px);
    cursor: pointer;
    &:hover {
      @apply text-primary-dark;
    }
  }

  .show_password_login {
    position: absolute;
    @apply ml-72;
    @apply mb-2.5;
    @apply text-primary;
    font-size: clamp(9px, 0.93744vw, 36px);
    cursor: pointer;
    &:hover {
      @apply text-primary-dark;
    }
  }

  .show_password_current {
    position: absolute;
    @apply ml-72;
    margin-bottom: clamp(116px, 12.08256vw, 464px);
    @apply text-primary;
    font-size: clamp(9px, 0.93744vw, 36px);
    cursor: pointer;
    &:hover {
      @apply text-primary-dark;
    }
  }

  .show_password_new {
    position: absolute;
    @apply ml-72;
    margin-bottom: clamp(52.5px, 5.4684vw, 210px);
    @apply text-primary;
    font-size: clamp(9px, 0.93744vw, 36px);
    cursor: pointer;
    &:hover {
      @apply text-primary-dark;
    }
  }

  .show_password_retype {
    position: absolute;
    @apply ml-72;
    margin-top: clamp(11.75px, 1.22388vw, 47px);
    @apply text-primary;
    font-size: clamp(9px, 0.93744vw, 36px);
    cursor: pointer;
    &:hover {
      @apply text-primary-dark;
    }
  }

  &__minitext {
    @apply mt-4;
    @apply text-black;
    font-size: clamp(8px, 0.83328vw, 32px);
    font-weight: 500;

    .login__orange {
      @apply text-primary;
      font-size: clamp(8px, 0.83328vw, 32px);
      font-weight: 500;
      transition: 0.3s ease-in-out;
      &:hover {
        @apply text-primary-dark;
      }
    }
  }
  &__text_separator {
    @apply mt-5;
    display: flex;
    align-items: center;
    text-align: center;
  }
  &__text_or {
    font-size: clamp(8px, 0.83328vw, 32px);
    font-weight: 500;
    padding: 0 10px;
  }
  // .google_icon {
  //   @apply text-secondary;
  //   @apply text-xl;
  //   margin-left: 8px;
  //   position: absolute;
  //   top: 803px;
  //   right: 1040px;
  //   &:hover {
  //     @apply text-white;
  //   }
  // }
}
