.input--default{
  @apply mt-3;
  position: relative;
  font-size: clamp(8px, 0.83328vw, 32px);
  width: clamp(175px, 18.228vw, 700px);
  text-align: left;
  padding: clamp(6px, 0.62496vw, 24px);
  color: rgba(26, 26, 26, 0.5);
  border-radius: clamp(4px, 0.41664vw, 16px);
  border: 2px rgba(255, 147, 114, 0.5) solid;
  transition: 0.3s ease;
  outline: none;
  &:focus {
    @apply text-primary;
    border: 2px #ff5722 solid;
    outline: 0;
    outline-offset: 0;
  }
}

.input--email {
  width: clamp(41px,4.27056vw,164px);
  font-size: clamp(20px,2.0832vw,80px);
  text-align: center;
  text-transform: capitalize;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom:  2px rgba(255, 147, 114, 0.5) solid;
  &:focus {
    @apply text-primary;
    border-bottom: 2px #ff5722 solid;
    outline: 0;
    outline-offset: 0;
  }
}
